@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

html, body, h1, h2, h3, h4, h5, h6, #style-guide #markdown, .post-layout #markdown{
	font-family: "Montserrat","Source Sans Pro","APPLE SD Gothic Neo",HelveticaNeue,Helvetica,"NanumGothic","맑은 고딕","Malgun Gothic",arial,sans-serif,"Source Sans Pro",sans-serif !important;
	line-height: 1.6;
}

::selection {    
    background: #7300ff;
}

/* header */
.header{
	border: none;
	box-shadow: none;
	padding: 3em 8vw;
	background-color: white;
	color: #7300ff;
}

.intro{
	padding: 0em 8vw;
	font-size: 2.3em;
	/*/ font-weight: bold; /*/
	color: #000;
	font-family: 'Montserrat', sans-serif;
}
@media (max-width: 768px){
	.intro{
		font-size: 1.5em;

	}
}

.about{
	font-size: 1em;
	font-family: "SAPPLE SD Gothic Neo",sans-serif;
}


#markdown a{
	border-bottom: 0;	
	box-shadow: none;
}

.header__title{
	font-size: 28px;
	/*font-family: 'Montserrat'*/
	
}

.header__title:hover{
	color: #7300ff;
	font-weight: 600;
}

.header__list>*{
	font-size: 0.8em;
	font-weight: 500;

}

.header__list li *{
	transition: color .5s;
}

.header__list li.active a, .header__list li:hover *{
	color: #7300ff;
	display: block;
}

/* main */
main{
	margin-top: 6em;
}

.posts__post{
	padding: 1em 1em 0 1em;
}

.post__content{
	border-top: 0;
}

.about{
	padding: 2em 8vw;
}

.grid-xlarge, #markdown p img{
	width: 100% !important;
}

@media (min-width: 768px){
	.grid-xlarge{
		padding: 0 1em;
	}
}

#markdown br{
	display: block;
}

/* footer */
.footer{
	border: none;
	box-shadow: none;
	padding: 0 8vw 4em 8vw;
	background-color: white;
	color: #000;
	font-family: APPLE SD Gothic Neo;
}
.footer__container{
	margin: 10;
}

.footer__container ul{
	list-style: none;
	padding: 0;
}

.footer__container ul a{
	color: #000;
	/*text-decoration: underline;*/
	font-size: 1em;
}

.copyright{
	text-align: right;
	color: #ced4da;
	margin-top: -1.2rem;
	font-size: 0.9rem;
}

#markdown p{
	margin-bottom: 0px;
}

.post .grid{
	width: 100%;
	max-width: 1400px;
	padding: 0 3vw

}


.work{
	text-align: center;
	margin-bottom: 40px;
}

.work>div{
	padding-bottom: 20vw;
}
.work img{
	max-width: 1200px;
}
.pickie{
	background-color: #f1f1f1;
}

.halo img{
	margin: 0;
	display: inline-block;
}

.halo .img_interaction{
	margin: 40px 0 0 0;
}




.intro span{
	/*color: #0c00ff;*/
	color: #7300ff;
	font-weight: 600;
}

.about span{
	color: #7300ff;
	font-weight: bold;
}



#markdown a.resume{
	/*margin-top: auto;*/
	color: #7300ff;
	/*border: 3px solid #0c00ff;
	padding: 10px;*/

	display: inline-block;
    /*font-family: "Source Sans Pro",sans-serif;*/
    padding: 8px 28px;
    border-radius: 100px;
    border: solid 3px #7300ff;
    font-size: 20px;
    margin: 0 8px 14px 0;

}

#markdown a.resume:hover{

	color: #9644f9;
	border: solid 3px #9644f9;
}

